* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kode Mono", monospace;
}

.header {
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 10px 0 20px;
  
}

.header img {
  width: 200px;
  border: 1px solid black;
}

.header a {
  padding-top: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  font-style: normal;
  line-height: 20px;
}

.header h1 {
  margin-top: 30px;

}

.header h2 {
  margin-top: 10px;
}

.main {
  padding-top: 15px;
  line-height: 28px;
  text-align: center;
  background-color: #efefef;
}

.main h2 {
  margin: 20px 0
}


.header-container {
  background-color: #dde1f8;
  width: 100%;
}

