* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kode Mono", monospace;
  background-color: #efefef;
}

.header {
  width: 700px;
  margin-left: 617px;
  text-align: center;
  padding: 10px 0 20px;
  margin-top: 20px;
  vertical-align: center;
  position: relative;
  left: -55px;
}

.header img {
  width: 200px;
  border: 1px solid black;
}

.header h2 {
  margin-top: 10px;
}

.header p {
  margin-top: 30px;
  line-height: 30px;
}

.main {
  padding-top: 45px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 100px;

}

.main h2 {
  margin: 20px 0
}

.foto {
  width: 40%;
  float: left;
  text-align: center;
  margin-top: 45px;
  margin-left: 45px;
  position: absolute;
  top: 50px;
  left: -15px;
}

.foto h1 {
  font-size: 25px;
}
.header-container {
  display: inline-block;
  width: 100%;
  padding-bottom: 25px;
  background-color: #dde1f8;
}

#minha-foto {
  width: 100px;
  padding: 5px;
  background-color: green;
}